<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Nick Portfolio{% endblock %}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    
        <!-- Load CSS -->
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/styles.css' %}">

        {% block extra_css %}
        {% endblock %}

    </head>
<body>


        <!-- Nav bar Components  -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
               
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <a class="navbar-brand" href="#">Nicholas Cachia  -> Porfolio </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </ul>
                    <ul class="navbar-nav mx-auto pr-8">  <!-- Center-aligned items -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home_page' %}">Home</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'blog_list' %}">Blog</a>
                        </li>
    
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact_page' %}">Contact</a>
                        </li>
    
                    </ul>
                    
                    
                    
                    <ul class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>


                        {% else %}
                        <!-- <li class="nav-item">          Will be managed by the admin panel
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li> -->
                        <!-- <li class="nav-item">         Registration removed to be control by the admin panel
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li> -->
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <!-- Display Avatar and Username -->
                            <a class="nav-link" href="#">
                              <!-- Show default avatar if no avatar is uploaded -->
                              <img src="https://i.pravatar.cc/30" alt="Avatar" class="rounded-circle" style="width: 30px; height: 30px;">
                              {{ user.username }}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


        
        <!-- Contents for the Gallery -->  
        <!-- <div class="py-5 card-wrapper"> -->
            <!-- <div class="container col-md-10 mx-auto"> -->
                {% block content %}
                {% endblock %}
            <!-- </div> -->
        <!-- </div> -->

        <!-- footer contents -->
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                <div class="col mb-3">
                <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <p class="text-body-secondary">© 2024</p>
                </div>
            
            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
        crossorigin="anonymous">
        </script>

        <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

        <script>
            // Initialize Bootstrap tooltips
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl);
            });

            // Initialize AOS animations
            document.addEventListener('DOMContentLoaded', function () {
                AOS.init();
            });
        </script>

    </body>
</html>