{% extends 'portfolio/base.html' %}
{% load custom_filters %}
{% block title %} Nick Blog {% endblock %}

{% block content %}
<h1 class="my-4 text-center"> Blogs</h1>

<div class="d-flex justify-content-end mb-4">
    <form method="get" action="" class="d-flex align-items-center">
        <label for="search" class="me-2 fw-bold">Content:</label>
        <input type="text" name="search" id="search" class="form-control me-2"
               placeholder="Search blogs...">      

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="d-flex flex-wrap justify-content-end mb-4">
    {% if tag_filter %}
        <!-- Clear Filter Button -->
        <a href="{% url 'blog_list' %}" class="btn btn-outline-secondary ms-3">Clear Tag Filter</a>
    {% endif %}
    
</div>



<div class="row container col-md-10 mx-auto">
    {% for post in posts %}
        <div class="col-md-4 mb-4 mx-auto">
                <div class="card mb-4 shadow-lg">
                    {% if post.image %}
                    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text text-muted">Content: {{ post.content|truncatewords:20|highlight:search_term|safe }}</p>
                        <p class="card-text text-muted">Category: {{ post.category|truncatewords:20 }}</p>
                        <p>Tags: 
                            {% for tag in post.tags.all %}
                                <!-- Make tags inside the card clickable to trigger the filter -->
                                <a href="?tag={{ tag.name }}" class="badge bg-success me-2" style="cursor: pointer;" data-bs-toggle="tooltip" title="Click to filter">
                                    {{ tag.name }}
                                </a>
                            {% empty %}
                                No tags available.
                            {% endfor %}
                        </p>

                    </div>

                    <div class="card-footer text-muted">
                        Posted by {{ post.author }} on {{ post.created_at }}
                    </div>
                </div>
        </div>
    {% endfor %}
</div>
{% endblock %}